*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    display: flex;
    background-color: #1A0B2E;
    width: 1600px;
    height: 92px;
}
.header_title{
    font-size: 2rem;
   color: white;
   margin: 30px 0px 30px 200px;
        font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
}
.header ul{
    display: flex;
    gap: 32px;
    align-items: center;
   margin-left: 314px;
    justify-content: center;
   font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550px;
  font-style: normal;

}
.header ul li{
    list-style: none;
    color: white;
    
}
.btn{
    height: 44px;
    width: 135px;
    border-radius: 12px;
    background-color: #897e04;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 314px;
    margin-top: 24px;
}
.btn img{
    width: 15px;
    height: 12.5px;
     color: white;
     display: flex;
    
     
}
.inside_btn{
      display: flex;
     
}
.btn1{
    height: 44px;
    width: 135px;
    border-radius: 12px;
    background-color: #897e04;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .hero {
  display: grid;
  place-items: center;
  background-image: url('assets/apple-podcast.png');
  background-repeat: no-repeat;
  background-size: cover;
} */
.hero{
    background: url("./assets/hero-bg.png") center no-repeat,
                linear-gradient(90deg,#140a2d,#1b0f3a);
    /* padding: 120px 0; */
    text-align: center;
    position: relative;
    height: 760px;
    width: 1600px;
   
}
.hero_main{
    position: relative;
     height: 760px;
    width: 1600px;
  
}
.hero_main h1{
    color: white;
    line-height: 60px;
      font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550px;
  font-style: normal;
}
.hero_main p{
    color: white;
    line-height: 60px;
      font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200px;
  font-style: normal;
}
.circle{
    width: 350px;
    height: 350px;
    margin-top: 101px;
    border: 2px solid black;
}
.mic{
    position: absolute;
    width: 120px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
}
.inside_btn_hero{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    gap: 8px;
}
.inside_btn1{
    margin: 2px;
}
.about{
    background-color: #1A0B2E;
    width: 1600px;
    height: 646px;
    margin: 0px;
    border: 1px solid rgb(0, 0, 0);
}
.about_upper{
    /* margin-top: 50px; */
    margin: 50px 200px auto 200px;
    width: 1200px;
    height: 222px;
    border: 2px solid black;
    text-align: center;
     font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200px;
  font-style: normal;
  color: white;
  margin-top: 30px;
  
}
.about_upper h1{
       font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;
}
 .about_upper p{
    padding-top: 20px;
      font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 16px;
  font-style: normal;
  color: white;
 }
 .about_hr{
    margin-top: 80px;
 }
.about_lower_container{
    display: flex;
    width:1200px;
    height: 94px;
    margin:80px 200px auto 200px;
    gap:80px;
}
.about_lower{
    width: 240px;
    height: 94px;
}
.about_lower{
    color: #00FF88;
     font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 48px;
  font-style: normal;
}
.why_choose{
    background-color: #230E3D;
    width: 1600px;
    height: 1121px;
    padding-top: 120px;
}
.why_choose h2{
    margin:0 200px;
    color: white;
    text-align: center;
      font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  line-height: 48px;
}
.container_why_choose{
    margin: 40px 200px 0 200px;
    
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows: repeat(3,273px);
    height: 783px;
    width: 1200px;
    gap:30px;
    color: white;
    
}
.normal{
    grid-column: span 1;
    grid-row: span 1;
    background-color: #351165;
    border-radius: 40px;
}
.large_col{
         grid-column: span 2;
        background-color: #351165;
        border-radius: 40px;

}
.large_row{
     grid-row: span 2;
     background-color: #351165;
     border-radius: 40px;

}
/* .item1{
   padding: 40px 40px;
} */
.item1 img{
    padding: 107px 0px 0px 40px;
}
.item2 img{
    padding: 40px 0px 0px 40px;
}
.item3 img{
    padding: 40px 0px 0px 40px;
}
.item4 img{
    padding: 40px 0px 0px 40px;
}
.item5 img{
     padding: 40px 0px 0px 40px;
}
.item1 p{
      font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  padding: 16px 40px 0 40px;
}
.item2 p{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  padding: 16px 40px 0 40px;
}
.item3 p{
      font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  padding: 16px 40px 0 40px;
}
.item4 p{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  padding: 16px 40px 0 40px;
}
.item5 p{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  padding: 16px 40px 0 40px;
}

.item1 small{
    display: block;
     /* font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 6px;
  font-style: normal; */ 
    padding: 16px 40px 0px 40px;
      font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 8px;
  font-style: normal;
}
.item2 small{
    display: block;
    padding: 16px 40px 0px 40px;
      font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 8px;
  font-style: normal;
}
.item3 small{
     display: block;
    padding: 16px 40px 0px 40px;
      font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 8px;
  font-style: normal;
}
.item4 small{
     display: block;
    padding: 16px 40px 0px 40px;
      font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 8px;
  font-style: normal;
}
.item5 small{
     display: block;
    padding: 16px 40px 0px 40px;
      font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 8px;
  font-style: normal;
}